.container {
    border-radius: 1rem;
    background-color: var(--clr-white);
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.25);
    padding-block: 1rem;
    text-transform: uppercase;
    position: relative;
    isolation: isolate;
    overflow: hidden;
}

.idBack {
    margin: 0;
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    color: var(--clr-gray);
    font-size: 6rem;
    font-weight: 800;
    z-index: -1;
}

.img {
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
}

.img img {
    width: 6rem;
    height: 6rem;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-inline: 1rem;
    align-items: center;
    text-align: center;
}

.nameContainer {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.id {
    background-color: var(--clr-gray);
    padding: 0.25rem 0.5rem;
    border-radius: 100vmax;
    font-size: 0.75rem;
    font-weight: 500;
}

.name {
    font-size: 1.4rem;
}

.types {
    display: flex;
    gap: 0.5rem;
    font-size: 0.75rem;
    font-weight: 500;
    flex-wrap: wrap;
    justify-content: center;
}

.type {
    padding: 0.25rem 0.5rem;
    border-radius: 100vmax;
}

.stats {
    display: flex;
    gap: 1rem;
    font-size: 0.85rem;
}

.stat {
    background-color: var(--clr-gray);
    padding: 0.25rem 0.5rem;
    border-radius: 100vmax;
}
