.pokemonDetailBg {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.pokemonDetailHeader {
  position: relative;
  max-width: 650px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem;
  color: white;
}

.pokemonDetailHeader p {
  font-weight: bold;
  font-size: 16px;
}

.pokemonDetailHeaderLeft {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.pokemonDetailHeaderLeft svg {
  cursor: pointer;
}

.pokemonDetailHeaderLeft svg:hover {
  transform: scale(1.2);
  transition-duration: 0.3s;
}

.pokemonDetailHeaderLeft span {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 32px;
}

.pokemonDetailInfo {
  max-width: 650px;
  width: 95%;
  background-color: white;
  margin-bottom: 1rem;
  margin-top: 8rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

.pokemonDetailInfo img {
  position: absolute;
  margin: 0 auto;
  margin-top: -150px;
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.pokemonDetailInfoTypes {
  margin-top: 75px;
  padding-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.pokemonDetailInfoType {
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  color: white;
  font-weight: bold;
  text-transform: capitalize;
}

.pokemonDetailTitle {
  text-align: center;
  font-weight: bold;
  margin: 1.5rem 0;
  font-size: 20px;
}
.pokemonDetailStats {
  margin: 0.5rem 0;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

.pokemonDetailStatsItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.pokemonDetailStatsItem svg {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.pokemonDetailStatsItem p {
  color: #666666;
  font-size: 14px;
}

.pokemonDetailBaseStats {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.5rem 0;
}

.pokemonDetailBaseStatsItem {
  width: 100%;
  display: flex;
}

.pokemonDetailBaseStatsItem span {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-align: right;
  width: 27%;
  margin: 0 1rem;
  padding-right: 1rem;
  border-right: 1px solid #e0e0e0;
}

.pokemonDetailBaseStatsBars {
  width: 60%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.pokemonDetailBaseStatsBars p {
  width: 10%;
}

.pokemonDetailBaseStatsBarsLine {
  width: 100%;
  position: relative;
}

.pokemonDetailBaseStatsBarsBg {
  width: 100%;
  height: 10px;
  opacity: 0.5;
  border-radius: 8px;
}

.pokemonDetailBaseStatsBarsSecondLine {
  position: absolute;
  left: 0;
  height: 10px;
  top: 0;
  border-radius: 8px;
}
